header {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 10px;
  font-size: 25px;
}

body {
  padding: 10px;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  margin: 5px;
}

main {
  display: flex;
}

div {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 15px;
  justify-content: space-evenly;
}

button {
  margin: 10px;
}
